* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

#logo {

    z-index: 2;
    width: 100%;
}

#brand {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 44vw;
    max-height: 100vh;
    overflow: hidden;
    background-image: url(background-branding.jpeg);
    background-position-x: 25%;
    background-position-y: 30%;

}

#content {
    font-family: "Dokdo", system-ui;
    font-weight: 400;
    font-style: normal;
    width: 75vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    padding: 0 2rem;
    letter-spacing: .3px;
    line-height: 1.8rem;

    h2 {
        font-size: 1.2rem;
        font-weight: 500;
    }
}

form {
    display: flex;
    flex-direction: column;

    gap: 1rem;

    .row {
        display: flex;
        justify-content: space-between;
        width: clamp(50%, 500px, 100%);
        gap: 3rem;

        div {
            display: flex;
            flex-direction: column;
            font-size: larger;
            gap: 0px;

            label {
                margin-bottom: -.4rem;
                font-variant: small-caps;
            }

            input {
                font-size: 1.1;
                padding: 3px;
                border-radius: 4px;
            }

            #error {
                color: #e61a1a;
                text-decoration:underline;
                text-rendering: geometricPrecision;

            }
        }
    }

    button {
        flex: 0;
        width: calc(50% - 2rem );
        padding: .5rem 1rem;
        border-radius: 7px;
        margin-top: 1rem;
        background-color: 	#b5d7b7;
        color: #456146;
        font-weight: 600;
        letter-spacing: .3px;
        border-style: hidden;
        outline-color: darkgreen;
        text-shadow:  #c7d7c8 1px 1px 1px;

        box-shadow: 1px 1px 1px 1px darkgreen;


    }
}

button:hover {
    outline: 2px solid darkgreen;
    background: linear-gradient(#b5d7b7 0%, darkgreen 100%);
    color: white;
    text-shadow: none;
}

.dokdo-regular {
    font-family: "Dokdo", system-ui;
    font-weight: 400;
    font-style: normal;
}

#final {
    font-size: larger;
    letter-spacing: initial;

    a {
        text-decoration: none;
        background-color: #f2ffcc;
        text-shadow: rgb(218, 166, 32) 1px 1px 1px;
    }
}