* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

#logo {

    z-index: 2;
    width: 100%;
}

#brand {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 44vw;
    max-height: 100vh;
    overflow: hidden;
    background-image: url(background-branding.jpeg);
    background-position-x: 25%;
    background-position-y: 30%;

}

#content {
    font-family: "Dokdo", system-ui;
    font-weight: 400;
    font-style: normal;
    width: 75vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;

    letter-spacing: .3px;
    line-height: 1.8rem;
    background: linear-gradient(#FEFAE0 0%, #FEFAE0 100vh);

    h1,
    h2 {
        max-width: 75ch;
    }

    h2 {
        font-size: 1.1rem;
        font-weight: 500;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-variant-ligatures: no-common-ligatures;
        letter-spacing: 1px;
    }

}

#content>*:not(form) {
    padding: 0 2rem;
}

form {

    max-width: 75ch;

    .row {
        display: flex;
        justify-content: flex-start;
        width: clamp(50%, 500px, 100%);
        gap: 3rem;

        div {
            display: flex;
            flex-direction: column;
            font-size: larger;
            gap: 0px;

            label {
                margin-bottom: -.4rem;
                font-variant: small-caps;
            }

            input {
                font-size: 1.1;
                padding: 3px;
                border-radius: 4px;
                width: 12rem;
                letter-spacing: .3px;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                font-weight: 600;
                font-variant-numeric: slashed-zero;
                border-color: #e5ebe8;
            }

            #error {
                color: #e61a1a;
                text-decoration: underline;
                text-rendering: geometricPrecision;
                text-underline-offset: 3px;
                text-decoration-thickness: 5%;
                font-size: 1rem;
                opacity: 0;
            }
        }
    }

    button {
        flex: 0;
        width: 12rem;
        padding: .5rem 1rem;
        border-radius: 7px;
        margin-top: 1rem;
        background-color: #b5d7b7;
        color: #456146;
        font-weight: 600;
        letter-spacing: .3px;
        border-style: hidden;
        outline-color: darkgreen;
        text-shadow: #c7d7c8 1px 1px 1px;
        margin-left: 2rem;
        box-shadow: 1px 1px 1px 1px darkgreen;

    }
}

#content div#inputs {
    padding-top: 1rem;
    background-color: rgb(251, 252, 250);
    padding-left: 2rem;
    border-bottom: 1px solid gray;
    width: calc(75vw - 2rem);
}

.row .field input:focus {
    border-color: blue;
}


.field input:invalid {
    border-color: purple;
}

button:hover:not(.off) {
    outline: 2px solid darkgreen;
    background: linear-gradient(#b5d7b7 0%, darkgreen 100%);
    color: white;
    text-shadow: none;
}

button.off {
    color: #a9cdab;
    background-color: #99ac99;
}

.dokdo-regular {
    font-family: "Dokdo", system-ui;
    font-weight: 400;
    font-style: normal;
}

#final {
    font-size: larger;
    letter-spacing: initial;

    a {
        text-decoration: none;
        background-color: #f2ffcc;
        text-shadow: rgb(218, 166, 32) 1px 1px 1px;
    }
}

#final a:hover {
    background-color: #f6dfa6;
    font-size: larger;
    color: rgb(1, 228, 1);
    text-shadow: none;
}